:root{
    --bg-color: #f4f7f6;
    --text-color: #333333;
    --card-bg: #ffffff;
    --border-color: #dddddd;
}
    /* Clases especificas para el modo oscuro */

body.dark{
    --bg-color: #121212;
    --text-color: #eeeeee;
    --card-bg: #1e1e1e;
    --border-color-: #44444444;
}

/* Estilos Globales */

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: backgpund-color 0.3s ease, color 03s ease;
    margin: 0;
    padding: 0;
}

.top_bar{
    background-color: var(--card-bg);
    padding: 15px 30px;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    justify-content: flex-end;
}

.contenedor_principal{
    max-width: 800px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card{
    background-color: var(--card-bg);
    padding: 25px;
    border-radius: 8px;
    border: 1px solid var(--border-color);
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.5);
}

.btn{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: opacity 0.2s;
}

.btn:hover{
    opacity: 0.8;
}

.btn_primary{
    background-color: #007bff;
    color: white;
}

.btn_secondary{
    background-color: #6c757d;
    color: white;
}

.badge{
    background-color: #28a745;
    color: white;
    padding: 4px 10px;
    border-radius: 12px;
    font-size: 1.1rem;
}

.menu_desplegable{
    margin-top: 15px;
    background-color: var(--bg-color);
    border-radius: 5px;
    padding: 10px;
}

.menu_desplegable ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu_desplegable a{
    color: var(--text-color);
    text-decoration: none;
    display: block;
    padding: 8px;
}

/* Utilidad clave para el JS */

.oculto{
    display: none;
}

